
/* colors:
#36358
#8D8C8A
#F6F6F6
#3BBA9C
*/

:root {
  --dark: #363538;
  --beige: #d0b88a;
  --green: #7c8879;
  --dgreen: #171c16;
  --gray: #c7aa94;
  --thead: #7b7a7a;

}

body {
  color: #92a38e;
  background: #363538;
  min-width: 800px;
  margin-top: 0px;
  margin-right: auto;
  
  font-family: 'ArialMT', 'Arial', 'sans-serif';
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;

  font-style: normal;
  text-decoration: none;
  text-transform: none;
}


#navigation {
height: 25px;
width:850px;
margin: 30px auto 30px auto;
#border:#808080 2px solid;  /* debuging */
}

#navigation table {
margin: 0 auto 0 auto;
width: 80%;
border-collapse: collapse;
}

#navigation table td {
width: 100px;
text-align: center;
font-weight: bold;
#border:#000000 2px solid;
}

#navigation table th {
 color: #453c3b;
width: 100px;
text-align: center;
font-weight: bold;
#border:#000000 2px solid;
}

#navigation hr {
  border: 0;
  width: 80%;
  color: var(--dgreen);
  background-color: var(--dgreen);
  height: 2px;
}

#name {
       #height: 70px;
       #width:800px;
	color: var(--beige);
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	#margin: T, R, B, L;
	margin: 15px auto 15px auto;        
}

a {
    color: var(--beige);
    text-decoration: none;
}

a:hover {
    color: var(--dgreen);
}

#main {
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
  width:675px;
        #background:#9c9;
}


#main img {
  	#display: block;
  	height:400px;
    margin-left: auto;
    margin-right: 20px;
/*   these three lines above center the image   */
    margin-bottom: 0;
   #background:#fff; 
}

#main bold {
color: var(--green);
}

#main table.a {
color: var(--beige);
font-weight: 700;
font-size: 16px;
line-height:20px;
width: 300px;
	#margin-bottom: 40px;
	border-collapse: collapse;
	#background:#ccc;	
}

#main table.teaching {
color: #869582;
font-weight: 100;
font-size: 14px;
line-height:20px;
width: 650px;
/*margin-bottom: 40px;*/
border-collapse: collapse;
border:var(--dgreen) 1px solid;
}

.teaching th {
font-weight: 900;
font-size: 18px;
background-color: #45434b;
color: var(--beige)
}
.teaching tr:nth-child(2n+3) {
    background-color: #28272c;
  }
.teaching tr:nth-child(2n+2) {
    background-color: #171c16;
  }

#main h1 {
  	#font-family: 'ArialMT', 'Arial', 'sans-serif';
	color: var(--beige);
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

#main h2 {
	color: var(--beige);

}

#main p {
	line-height:21px;
	text-indent:25px;
}

#main ol {
	font-size: 14px;
	line-height:20px;
}

#rightside {
	position:relative;
	width:350px;
	height:400px;
	float:right;
	#background:#c99;
}

#rightside #brcorner {	
position:absolute;
bottom:0px;
right:0px;
	#background:#aaa;
}

#footer
{
        margin: 0 auto;
        width:800px;
        padding:0;
	font-size: .8em;
        border:#ccc 0px solid;
}


#footer table {
border-collapse: collapse;
margin: 0 0;
font-size: .9em;
}

#footer a {
font-size: 1em;
}

small {
  color: #666666;
  font-size: .8em;
}

small.bold {
  font-weight: bold;
}
